/* CSS declarations go here */
/* CSS declarations go here */

/***********
	RESET
***********/
body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
textarea,
th,
td {
  padding: 0;
  border: 0;
  outline: none !important;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}

* {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, textarea {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

a {
	color: #000000;
	text-decoration: none;
}

input, textarea, select {
  padding: 5px;
  resize: none;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #C3C3C9;
  font-family: "Roboto", Helvetica, sans-serif;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

/******* LOGIN PAGE ********/
.login-dropdown {
	cursor: pointer;
	font-weight: 500;
	margin-left: 10px;
	display: inline-block;
}
.login-triangle {
	top: -2px;
	font-size: 10px;
	position: relative;
	display: inline-block;
    
    transition: transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.login-wrap.active .login-triangle {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    transition: transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.login-container {
	max-height: 0px;
	overflow: hidden;
    transition: 0.5s ease-out;
}
.login-wrap.active > .login-container {
	max-height: 150px;

    transition: 0.5s ease-out;
}
.login-username, .login-password {
	margin: 5px;
	border-radius: 3px;
}
.login-username.active, .login-password.active {
	border: 1px solid #F39124;
}

.login-username.active::-webkit-input-placeholder {
    color: #F39124;
}
.login-username.active::-moz-placeholder {
    color: #F39124;
}
.login-username.active::-ms-placeholder {
    color: #F39124;
}
.login-password.active::-webkit-input-placeholder {
    color: #F39124;
}
.login-password.active::-moz-placeholder {
    color: #F39124;
}
.login-username.active::-ms-placeholder {
    color: #F39124;
}

.login-signout {
	font-weight: 500;
}
.login-btn {
	margin: 5px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 15px;
	border-radius: 3px;
	display: inline-block;
	background-color: #F39124;
}

/******* HOME PAGE ********/
.homepage-title, .homepage-content {
	text-align: center;
}
.route-btn {
	width: 150px;
	display: block;
	color: #FFFFFF;  
	margin: 5px auto;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #F39124;
}


/******* PLAYERS ********/
.player-list-wrap {
	margin-top: 10px;
}
.player-item {
	color: #FFFFFF;
	cursor: pointer;
	padding: 4px 9px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #898B95;
}
.player-item.active {
	background-color: #F39124;
}


/******* GAME ********/
.pigeonbingo-container {
	text-align: center;
}
.game-start-btn {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
	margin-top: 50px;
	padding: 10px 15px;
	border-radius: 3px;
	display: inline-block;
	background-color: #F39124;
}
.bingo-container {
	text-align: center;
}
.number-grid {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.bingo-number {
	float: left;
	width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	position: relative;
	text-align: center;
	border: 1px solid #E8E8EA;  

	box-sizing: border-box;

}