<template name="bingo">
	<div class="container pigeonbingo-container">
		<h2 class="homepage-title">Bingo Game</h2>

	  	<!-- Find an oponent here!
		{{> playerList}} -->
		{{#if hasUser}}
			<div class="btn btn-warning btn-lg game-start-btn">
				Start now!
			</div>
		{{/if}}
		<h3>Leaderboard</h3>
		<table class="user-list-table table">
			<thead>
				<tr>
					<th>Username</th>
					<th>Wins</th>
					<th>Played</th>
					<!-- <th>delete?</th> -->
				</tr>
			</thead>
			<tbody>
				{{#each getAllUsers}}
					<tr>
						<td>{{username}}</td>
						<td>{{profile.wins}}</td>
						<td>{{profile.played}}</td>
						<!-- <td class="delete-user" data-id={{_id}}>x</td> -->
					</tr>
				{{/each}}
			</tbody>
		</table>

		<h3>Current Bingo Games</h3>
		<table class="bingo-list-table table">
			<thead>
				<tr>
					<th>#</th>
					<th>Creator</th>
				</tr>
			</thead>
			<tbody>
				{{#each getBingos}}
					<tr>
						<td>
							<a href="bingo/{{_id}}">{{shortId}}</a>
						</td>
						<td>
							Created by: {{getGameCreator}}
							&nbsp;&nbsp;
							<div class="btn btn-sm btn-danger remove-bingo-btn">x</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>

	</div>
</template>


<template name="bingoGame">
	
	<a class="btn btn-default" href="/bingo">Back</a>
	<div class="bingo-container">
		<h3>Player List</h3>
		{{playerList}} <br>

		{{#if isNotInGame}}
			{{#if gameCompleted}}
				<h1>Game ended</h1>
			{{else}}
				<br><br>
				{{#if hasUser}}
					<div class="btn btn-warning btn-lg join-game-btn">
						Join Game
					</div>
				{{else}}
					<p class="lead">Please sign in first</p>
				{{/if}}
			{{/if}}
		{{else}}
			{{#if gameCompleted}}
				<h4>Game Ended</h4>
				<h5>Winner: {{winners}}</h5>
					{{#if winnerIsYou}}
				<div class="end-game-label won">
						You Won!
				</div>
					{{else}}
				<div class="end-game-label lost">
						You Lost!
				</div>
					{{/if}}
			{{else}}
				<h3>Player Turn</h3>
				{{#if hasSufficientPlayers}}
					{{getPlayerTurn}}
					<b>({{#if isYourTurn}}Your Turn!{{else}}Not you{{/if}})</b>
				{{else}}
					Not enough players.<br> Please invite your friends to join the game.
				{{/if}}
			{{/if}}


			{{#if hasSufficientPlayers}}
				<h3>
					Number Grid
					{{#if linesFormed}}
						({{linesFormed}} lines formed)
					{{/if}}
				</h3>
				<div class="number-grid status-{{gameStatus}}">
					{{#each getUserNumberCard}}
						<div class="bingo-number highlighted-{{checkedNumber}}" data-number={{this}}>
							{{this}}
						</div>
					{{/each}}

				</div>

				<h3>Selected Numbers</h3>
				{{#each chosenNumbers}}
					<span>{{this}}</span>
				{{/each}}
			{{/if}}
		{{/if}}
			
	</div>
</template>