<template name="homepage">
  	<h1 class="homepage-title">Welcome to Pigeon Games!</h1>

  	<div class="homepage-content">
		These are the links to our games
		<a href="#" class="route-btn" disabled="disabled">PiTacToe</a>
		<a href="/pigeonbingo" class="route-btn">PigeonBingo</a>
		<a href="#" class="route-btn">Battle Pigeons</a>
	</div>

</template>



<template name="pigeonbingo">
	<div class="pigeonbingo-container">
		<h2 class="homepage-title">Pigeon Bingo Game</h2>

	  	Find an oponent here!
		{{> playerList}}

		<div class="game-start-btn">
			Start now!
		</div>

		{{> bingoList}}
	</div>
</template>

